.sectionForm {
  padding: 0 10px;
}
.form {
  margin: 0 auto;
  max-width: 380px;
  padding: 12px;
  border: 1px solid rgb(201, 98, 98);
  border-radius: 8px;
  margin-bottom: 16px;
  text-align: left;
}
.label {
  margin-left: 16px;
  color: rgb(201, 98, 98);
}

.field:focus {
  border: 1px solid rgb(201, 98, 98);
}
.btn {
  display: flex;
  box-shadow: 2px 3px 2px rgb(201, 98, 98);
  color: rgb(201, 98, 98);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  text-align: center;
  border: 1px solid #1a1a1a;
  margin-top: 20px;
}
.btn:hover {
  box-shadow: 2px 4px 8px rgb(201, 98, 98);
}

.btn:focus {
  border: 1px solid rgb(201, 98, 98);
}
.error {
  color: rgb(201, 19, 19);
  font-size: 14px;
  text-align: right;
}
.field {
  background-color: #181818 !important;
  color: grey !important;
}
.field:-webkit-autofill {
  background-color: #181818 !important;
  color: grey !important;
}

.field:-webkit-autofill:focus {
  background-color: #181818 !important;
  color: grey !important;
}

.field:-webkit-autofill:hover {
  background-color: #181818 !important;
  color: grey !important;
}

.field:-webkit-autofill:active {
  background-color: #181818 !important;
  color: grey !important;
}
