.sectionList {
  padding: 0 16px;
}
.list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 16px 0;
}
.item {
  width: 380px;
}
